<div class="container my-4">
  <div class="row">
    <!-- 左カラム：ユーザー情報 -->
    <%= render 'information', user: @user %>

     <!-- 右側：カレンダーと投稿 -->
    <div class="col-md-8">
      <!-- カレンダー -->
      <div class="card mb-3">
        <div class="card-header">スケジュール</div>
        <div class="card-body">
          <div id="calendar"></div>
        </div>
      </div>

      <!-- 投稿一覧 -->
      <div class="container bg-white p-2 rounded shadow">
        <h2>投稿一覧</h2>
        <div class="d-flex flex-column row-gap-3">
          <% @posts.first(3).each do |post| %>
            <div class="fusen py-2">
              <%= link_to post_path(post.id), class:"d-flex justify-content-between align-items-center row-gap-1" do %>
              <p class="mb-0"><%= post.user.name %></p>
              <strong class="mb-0"><%= post.content %></strong>
              <small class="text-muted"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small>
              <% end %>
           </div>
          <% end %>
        </div>
        <% if @posts.size > 3 %>
         <div class="text-end">
          <%= link_to "もっと見る", posts_path, class: "btn btn-sm btn-outline-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>