<!DOCTYPE html>
<html>
  <head>
    <title>ShaFt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0d70722266.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <%= render 'layouts/header' %>
      <main>
        <%= render 'layouts/flash' %>
        <div class="d-flex justify-content-center mb-2">
          <%= render "public/searches/form" %>
        </div>
       <%= yield %>
      </main>
       <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
